.add_topic{
  height: 50px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background: linear-gradient(to bottom, #6699ff 0%, #ccffff 100%);
}

.top_margin{
  font-size: 25px;
  margin-top: 50px;
  /*font-family: SFMono-Regular;*/
  font-weight: bold;
}

.table-bordered th, .table-bordered td {
  text-align: center;
}

.table_center{
  width: 400px;
  margin: 0 auto;
}

.model-topic-div{
  /*position: relative;*/
  /*height: 50px;*/
  /*border-radius: 30px;*/
  /*width: 20vw;*/
  /*background: linear-gradient(to bottom, #6699ff 0%, #ccffff 100%);*/
}

.model-topic-text{
  text-align: left;
  padding-left: 8px;
  font-weight: bold;
}
.project-name{
  text-align: left;
  padding-left: 8px;
  font-weight: bold;
}

.top_margin{
  margin-top: 7px !important;
}
.button_margin{
  width: 100%;
  height: 38px;
}

.top_div{
  margin-top: 7px;
}

.close {
  margin-right: 5px;
  font-size: 3.3125rem;
}

.ant-table-tbody > tr > td{
}
.ant-table-thead > tr > th{
}


.notification{
  top: 6vh;
  z-index: 2000;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.user_name{
  font-size: 18px;
  margin-right: 20px;
}

.project-model{
  font-size: 25px;
  font-weight: bold;
}

.gg {
  width: 45vw;
  background: red;

}

.ant-card{
  cursor: context-menu;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, -0.8), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
  padding: 8px 5px !important;
}

.submit{
  justify-content: center;
  margin: auto;
}

.modal-header .close {
  padding: 1rem 2rem!important;
  margin: -1rem -1rem -1rem auto!important;
  border-style: none!important;
}

.home-png{
margin-top: 30vh;
}


.task-topic{
  margin-top: -10px;
  margin-left: -16px;
  font-size: 13px;
}

.font-p{
  text-align: center;
  margin-top: -13px !important;
  font-size: 18px;
  color: red;
}

.hours_margin{
  text-align: left;
  margin-top: -10px;
}

.cardView{
  height: 50px !important;
}
